    {% include 'theretailerapp/form_generic.html' %}
    <div class="main-block">
      <br><br>
      {% include 'theretailerapp/message.html' %}
      <h1>Customer Sign Up</h1>      
      {% block content %}
      <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
          <p>
            <label for="id_first_name">First Name:</label>
            <input type="text" name="first_name" id="first_name" required />
          </p>
          <p>
            <label for="id_last_name">Last Name:</label>
            <input type="text" name="last_name" id="last_name" required />
          </p>
          <p>
            <label for="id_shipping_address">Shipping Address:</label>
            <input
              type="text"
              name="shipping_address"
              id="shipping_address"
              required
            />
          </p>
          <p>
            <label for="id_billing_address">Billing Address:</label>
            <input
              type="text"
              name="billing_address"
              id="billing_address"
              required
            />
          </p>
          <p>
            <label for="id_email">Email Address:</label>
            <input type="email" name="email" id="email" required />
          </p>
          <p>
            <label for="id_ph_number">Phone number:</label>
            <input
              type="tel"
              id="ph_number"
              name="ph_number"
              placeholder="+9212345678123"
              pattern="+[0-9]{13}"
              required
            />
            </br>
            <small>Format: +1234567891234</small>
            </br></br>
          </p>
          <p>
            <select name="country">
              {% for country in countries %}
              <option value="{{ country.country_name }}">
                {{ country.country_name }}
              </option>
              {% endfor %}
            </select>
          </p>
          <div class="btn-block">
          <button type="submit" value="Submit">Submit</button>
          </div>
          <a href="/customer/login">Already Have an Account? Sign In</a>
        </div>
      </form>
      {% endblock %}
    </div>
  </body>
</html>
