    {% include 'theretailerapp/generic.html' %}
    <div class="container">
      <h1>Product List</h1>
      <div class="row">
        {% block content %}
          {% if product_list %}
            <table>
              <tr>
                <th>Product name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Available quantity</th>
                <th>Created At</th>
                <th>Updated At</th>
                {%if 'first_name' in request.session%}
                  <th>Add to Basket</th>
                {%endif%}
              </tr>
              {% for product in product_list %}
                <tr>
                  <td>{{ product.product_name }}</td>
                  <td>{{product.description}}</td>
                  <td>{{product.price}}</td>
                  <td>{{product.available_quantity}}</td>
                  <td>{{product.created_at}}</td>
                  <td>{{product.updated_at}}</td>
                  {%if 'first_name' in request.session%}
                    <td> <a href="{% url 'add_to_basket' product.id %}">Add</a></td>
                  {%endif%}
                </tr>
              {% endfor %}
            </table>
          {% else %}
            <p>There are no products.</p>
          {% endif %} 
        {% endblock %}
      </div>
    </div>
  </body>
</html>
