<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
    <title>The retailer app</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <div class="container">
      <a class="button button2" href="/">Customer List</a>
      <h1>Product List</h1>
      <div class="row">
        {% block content %}
          {% if product_list %}
            <table>
              <tr>
                <th>Product name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Available quantity</th>
                <th>Created At</th>
                <th>Updated At</th>
              </tr>
              {% for product in product_list %}
                <tr>
                  <td>{{ product.product_name }}</td>
                  <td>{{product.description}}</td>
                  <td>{{product.price}}</td>
                  <td>{{product.available_quantity}}</td>
                  <td>{{product.created_at}}</td>
                  <td>{{product.updated_at}}</td>
                </tr>
              {% endfor %}
            </table>
          {% else %}
            <p>There are no products.</p>
          {% endif %} 
        {% endblock %}
      </div>
    </div>
  </body>
</html>
